.psc-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  z-index: 9999;
}

.psc-container {
  background-color: #ffffff;
  display: flex;
  width: 460px;
  height: 120px;
  position: relative;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
}

.psc-container.animate {
  transform: scale(1.03);
  width: 220px;
}

.psc-container.animate .psc-left {
  width: 100%;
}

.psc-left {
  background-color: #5de2a3;
  width: 130px;
  height: 120px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
  overflow: hidden;
}

.psc-right {
  width: calc(100% - 130px);
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  padding-left: 12px;
}

.psc-right:hover {
  background-color: #f9f7f9;
}

.psc-arrow {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.psc-new {
  font-size: 20px;
  font-family: 'Lexend Deca', sans-serif;
  margin-left: 8px;
  color: #272727;
}

.psc-amount {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  color: #4b953b;
  margin-left: auto;
  margin-right: 16px;
}

.psc-card {
  width: 70px;
  height: 46px;
  background-color: #c7ffbc;
  border-radius: 6px;
  position: absolute;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
}

.psc-card-line {
  width: 65px;
  height: 13px;
  background-color: #80ea69;
  border-radius: 2px;
  margin-top: 7px;
}

@media only screen and (max-width: 480px) {
  .psc-container {
    transform: scale(0.7);
  }

  .psc-container:hover {
    transform: scale(0.74);
  }

  .psc-new {
    font-size: 18px;
  }
}

.psc-buttons {
  width: 8px;
  height: 8px;
  background-color: #379e1f;
  box-shadow: 0 -10px 0 0 #26850e, 0 10px 0 0 #56be3e;
  border-radius: 50%;
  margin-top: 5px;
  transform: rotate(90deg);
  margin: 10px 0 0 -30px;
}

.psc-container.animate .psc-card {
  animation: psc-slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.psc-container.animate .psc-post {
  animation: psc-slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes psc-slide-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-70px) rotate(90deg);
  }
  60% {
    transform: translateY(-70px) rotate(90deg);
  }
  100% {
    transform: translateY(-8px) rotate(90deg);
  }
}

.psc-post {
  width: 63px;
  height: 75px;
  background-color: #dddde0;
  position: absolute;
  z-index: 11;
  bottom: 10px;
  top: 120px;
  border-radius: 6px;
  overflow: hidden;
}

.psc-post-line {
  width: 47px;
  height: 9px;
  background-color: #545354;
  position: absolute;
  border-radius: 0 0 3px 3px;
  right: 8px;
  top: 8px;
}

.psc-post-line:before {
  content: '';
  position: absolute;
  width: 47px;
  height: 9px;
  background-color: #757375;
  top: -8px;
}

.psc-screen {
  width: 47px;
  height: 23px;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  right: 8px;
  border-radius: 3px;
}

.psc-numbers {
  width: 12px;
  height: 12px;
  background-color: #838183;
  box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 52px;
}

.psc-numbers-line2 {
  width: 12px;
  height: 12px;
  background-color: #aaa9ab;
  box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 68px;
}

@keyframes psc-slide-post {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70px);
  }
}

.psc-dollar {
  position: absolute;
  font-size: 16px;
  font-family: 'Lexend Deca', sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  color: #4b953b;
  text-align: center;
}

.psc-container.animate .psc-dollar {
  animation: psc-fade-in-fwd 0.3s 1s backwards;
}

@keyframes psc-fade-in-fwd {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

